<html>
	<head>
		<title>Vision</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><img src=" ./static/images/logo.png"></a>
					<nav id="nav">
						<a href="home">Home</a>
						<a href="track_my_bus">Track My Bus</a>
						<a href="product">Product</a>
                        <a href="vision">Vision</a>
						<a href="elements">About</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Our Vision of the Future</h2>
						<p>Look into our crystal ball</p>
					</header>
					<body>
						<div style="text-align: center;">
							<p style=" font-size: 22pt; line-height: 2.0; text-align: left; margin-left: 3.0cm; margin-right:3cm;"> Take a seat was founded in 2020 with the objective of providing rider a piece of mind when engaged in transportation system in indy go. We envision our initial product of take a seat being a launch point into variety of other customer relation improving software and hardware. Take a seat marketing offer is designed to improve the public health of Hoosier engaging in transportation service in Indy such as Indygo.</>
						</div>
						<div style="text-align: center;">
							<p style=" font-size: 22pt; line-height: 2.0; text-align: left; margin-left: 3.0cm; margin-right:3cm;"> Cities are currently designed and run in a way that incentives individual mobility. This has resulted in systems that equate cars as equal to buses and have resulted in a variety of challenges. In the current climate of increasing populations, and climate change we believe it is becoming not only necessary but vital that cities redesign their transportation arrangements into a more intelligent, green, and efficient model. We hope that our current product will act as a stepping stool to allowing us to gain a voice, trust,and customer base so that we can face these new transportation challenges.
</p>
						<div>
							<img src="./static/images/smart_trans.png" width=" 100%" height="100%">
						</div>
					<hr class="major" />

					<!-- Content -->

											<ul class="icons">
												<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
												<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
												<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
												<li><a href="#" class="icon fa-tumblr"><span class="label">Tumblr</span></a></li>
											</ul>

										</div>

		<!-- Scripts -->
			<script src="./static/jquery.min.js"></script>
			<script src="./static/skel.min.js"></script>
			<script src="./static/util.js"></script>
			<script src="./static/main.js"></script>

	</body>
</html>