<html>
	<head>
		<title>Vision</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/main.css" />
	</head>
	<section class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="home" class="logo"><img src=" ./static/images/logo.png"></a>
					<nav id="nav">
						<a href="home">Home</a>
						<a href="track_my_bus">Track My Bus</a>
						<a href="product">Product</a>
                        <a href="vision">Vision</a>
						<a href="elements">About Us</a>
						<a href="credits">Credits</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Credit</h2>
						<p>Here is what and who helped us</p>
					</header>
					<body>
					<div style="text-align: center;">
						<div style="text-align: center;">
					<p style="font-color: black; font-size: 22pt; line-height: 2.0; text-align: left; margin-left: 3.0cm; margin-right:3.0cm;">
						<br>
						Thank you to everyone who supported us in helping make this a successful project, including TechPoint and the state of Indiana for sponsoring this challenge. <br>
					</p>
							<div style="text-align: center;">
					<p style="font-color: black; font-size: 22pt; line-height: 2.0; text-align: left; margin-left: 3.0cm; margin-right:3.0cm;">
						<br>
						We would also like to especially show gratitude to our partners at Cisco for their incredible guidance and mentorship. Our Cisco partners include <strong>Nathan Thomas, Mike Witzman and Jeff Cristee. </strong><br>
					</p>
					</div>
					</div>
					<p> Our wonderful friend and photographer,
					<br> <strong>Owen Wu</strong></p>
					<img src="./static/images/owen.jpg " width = 40% height= 75%>
					</div>
						<div style="text-align: center;">
					<p style="font-color: black; font-size: 22pt; line-height: 2.0; text-align: left; margin-left: 3.0cm; margin-right:3.0cm;">
						<br><br>
						This website was inspired by and modeled after Projection by TEMPLATED <br>
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)<br>
						Font was provide by FontAwesome
</p>
					</div>

					<div style="text-align: center;">
					<p style=" font-color: black; font-size: 22pt; line-height: 2.0; text-align: left; margin-left: 10cm; margin-right:3.0cm;">
						<br><br>
						This website was deployed and hosted through <strong>Heroku</strong>
						<br>
						Development and maintenance was done through <strong>Flask</strong>
					</p>
					</div>

					<div style="text-align: center;">
					<p style="font-color: black; font-size: 22pt; line-height: 2.0; text-align: left; margin-left: 3.5cm; margin-right:3.0cm;">
						<br><br>
						Our Slide deck uses the following typographies:<br>
						Titles: Red Hat Display <br>
						Body copy: Raleway <br>
						Download for free at: <br>
						https://www.fontsquirrel.com/fonts/red-hat <br>
						https://www.fontsquirrel.com/fonts/raleway
<br>
					</p>
					</div>


		<!-- Scripts -->
			<script src="./static/jquery.min.js"></script>
			<script src="./static/skel.min.js"></script>
			<script src="./static/util.js"></script>
			<script src="./static/main.js"></script>
                    </body>
                </div>
	        </section>
    </section>
</html>