<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>About</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><img src=" ./static/images/logo.png"></a>
					<nav id="nav">
						<a href="home">Home</a>
						<a href="track_my_bus">Track My Bus</a>
						<a href="product">Product</a>
						<a href="vision">Vision</a>
						<a href="elements">About</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Main -->
			<body id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>About Us</h2>
						<p>Meet the team</p>
					</header>
					<div>
						<div style="text-align: center;">

						<img src="./static/images/cool_dude.jpg" height = "50%" width = "50%">
						<p><strong> Clayton Scheurer <br>UX/Product Designer-Pro Squad, Sophomore majoring in electrical engineering at Rose-Hulman Institute of Technology
							Clayton Scheurer <br>UX/Product Designer-Pro Squad, Sophomore majoring in electrical engineering at Rose-Hulman Institute of Technology
	<br></strong>Clayton was in charge of product/UX design, designing a seat sensor keeping functionality, durability, and cost in mind to make the best prototype available. Clayton is looking to focus on either the agricultural or defense industry.
							He is a part of Rose’s baseball program and in his free time he enjoys hunting and coaching baseball.</p>

							<img src="./static/images/grace.jpg" height = "50%" width = "50%">
					<p><strong>Grace Tam <br> Project Manager, Junior Integrated Business and Engineering as well as Spanish
@Valparaiso University</strong> <br>
					Grace was responsible for scheduling all internal and external meetings. She created a Slack channel and a groupme chat and ran a weekly planning meeting where everyone agreed on a set of tasks for the week. Grace also lead the construction of a go-to-market plan
					</p>

						<img src="./static/images/ryan-danehy.jpg" height = "50%" width = "50%" >
					<p> <strong> Ryan Danehy <br>Software Engineer,, senior in Intelligent Systems Engineering with minor in mathematics @ Indiana University</strong><br>
					Ryan was in charge of designing, developing, and deploying the web application in which the SoftStat sensor would be integrated into. He also was responsible for the initial research in the product viability evaluation, as well as investigating the future application of such a product. Ryan’s area of specialization is bioengineering specifically computational biology, with increased interest in High Performance Computing, and Machine Learning. He is an avid skier, hiker, and biker who was born and raised in Louisville, Kentucky. He is currently scheduled to graduate with a bachelor degree in 2021 and a master’s degree in 2022.
					</p>
						<img src="./static/images/elliot.jpg" height = "10%" width = "30%" >
						<p> <strong>Elliot Schendel <br>Director of Operations - Go Team, Senior majoring in Management of Information Systems at Butler University<br>
</strong> Elliot was responsible for: facilitating the completion of Go-team materials, creating material for project development, and conducting market research. He's passionate about helping make technology more accessible to small business owners and helping them to work smarter to achieve their organizational goals. In his free time, Elliot loves to drive and ride his bike in natural parks.
</p>
						<img src="./static/images/cassie.jpg" height = "10%" width = "30%" >
						<p>
							<Strong> Cassie Utley<br> Customer Outreach Manager, Senior Class of 2021, Mechanical Engineer @ Rose-Hulman Institute of Technology</Strong><br>

Cassie contributed by focusing on the importance of the customers' need to travel safely, especially due to COVID-19, and how to incorporate change with the team in the development of Take a Seat. Post-Graduation, she plans to go into the automotive industry and eventually develop her own business; however, she's still thinking about going back to school to get her Masters or go to Chiropractic school. Outside of school and academics she is a Varsity Athlete, Multi-Organizations Member, Tutor and Volunteer. But if you’re looking for her, you can find her in the gym.</p>

						<img src="./static/images/david.png" height = "25%" width = "25%" >
						<p><strong>David Mykut. <br>Systems Designer, System Analyst- Pro Squad, Majoring in Computer Information and Technologies with a minor in History @ Purdue</strong>
						<br>
							David helped to model and visualize the design of the project in the early stages, then helping between other areas and teammates as needed. He is a senior studying computer informations and technologies with a minor in history at
Purdue University. From a small town , Walton, in Indiana after living in north Central Pennsylvania for
seven years. Has a background in organizing teams, taking charge when needed, and managing and
connecting with communities. Enjoys stories, story telling, reading, playing games, and brewing tea.
						</p>
						</div>

					</div>
				</div>
			</body>
		</body>

		<!-- Scripts -->
			<script src="./static/jquery.min.js"></script>
			<script src="./static/skel.min.js"></script>
			<script src="./static/util.js"></script>
			<script src="./static/main.js"></script>

</html>