<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Take A Seat</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="./static/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="home" class="logo"><img src=" ./static/images/logo.png"></a>
					<nav id="nav">
						<a href="home">Home</a>
						<a href="track_my_bus">Track My Bus</a>
						<a href="product">Product</a>
						<a href="vision">Vision</a>
						<a href="elements">About Us</a>
						<a href="credits">Credits</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1><p style="color:#6CC091;font-size:200%;margin-bottom: 0">Take A Seat</p><p style="font-size: 45px; line-height: 1.2; color: #FFFFFF;"><br> is a solution to the post COVID-19 world which will revolutionize the relationship between
							public transportation and the essential workers who use it daily. </p></h1>
					</header>
					<footer>
						<a href="product" class="button">Learn More about Our Product</a>
					</footer>
					<br>
					<br>
					<iframe width="1200" height="720" src="https://www.powtoon.com/embed/d3FXlYZRF4b/" frameborder="0" allowfullscreen></iframe><br>
					<br>
					<p style="font-size: 45px; line-height: 1.2; color: #FFFFFF;"><br> <br> <br> Visit Our Beautiful City Indianapolis, Indiana. <br> There is no place we would rather be headquartered in. </p>
					<iframe width="1280" height="720" src="https://www.youtube.com/embed/udJX8ERecwQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image">
								<img src="./static/images/SOS_logo.png" width = "600" height="130" />
							</div>
							<header>
								<h3></h3>
							</header>
							<p></p>
							<footer>
								<a href="https://techpoint.org/" class="button">Learn More</a>
							</footer>
						</article>
						<article>
							<div class="image">
								<img src="static/images/IndyGo_logo.png" width=" 600" height = "130" />
							</div>
							<header>
								<h3> </h3>
							</header>
							<p></p>
							<footer>
								<a href="https://www.indygo.net/" class="button">Learn More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">

			</footer>.





		<!-- Scripts -->
			<script src="./static/jquery.min.js"></script>
			<script src="./static/skel.min.js"></script>
			<script src="./static/util.js"></script>
			<script src="./static/main.js"></script>

	</body>
</html>